<div class="audio_player">
    <div class="inner">
        <div class="thumbnail"><img class="image"></img></div>
        <div class="info">
            <div class="title">タイトル</div>
            <div class="album">アルバム</div>
            
        </div>
    </div>
    <div class="close">×</div>
</div>