<!DOCTYPE html>
<html lang='ja'>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>Daichi Sugiyama</title>
<meta name="description" content="杉山大知による個人サイトです。作ったものと勉強したことをまとめています。" >
<meta name="keywords" content="杉山大知,Daichi Sugiyama">
<link rel="canonical" href="https://daichisugiyama.jp/home">
<link rel="stylesheet" type="text/css" href="/css/newhome.css?1.0">
<script src="/js/jquery.min.js?1.0"></script>
<script src="/js/home/script.css?1.0"></script>
</head>
<body>
<div class="loader">

</div>
<header>

</header>
<main>
    <section class="mainvisual">
    </section>
    <section class="desc">
        杉山大知によるウェブサイトです。作ったものをまとめています。<a></a>
    </section>
    <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="QWQjPER" data-user="daichisugiyama" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/daichisugiyama/pen/QWQjPER">
    Untitled</a> by Daichi Sugiyama (<a href="https://codepen.io/daichisugiyama">@daichisugiyama</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</main>
</body>
</html>
