/* =================================
    Blog Page
================================= */
@charset "UTF-8";
@import "../template/base/reset.scss";
@import "../template/base/setting.scss";
@import "../template/layout/1column.scss";
@import "../template/ui/header.scss";
@import "../template/ui/menu.scss";
@import "../template/ui/content.scss";
@import "../template/ui/footer.scss";


.content { 
    color: var(--color-text);
}

/*=====================
    Head section
=====================*/
.content { 
    .head {
        .breadcrumb {
            margin-top: 8px;
            margin-left: 20px;
            font-size: 12px;
            li {
                display: inline;
                text-decoration: none;
            }
            li:after {
                content: ">";
                display: inline-block;
                vertical-align: middle;
                padding: 0 12px;
                color: var(--color-text);
            }
            li:last-child:after {
                content: "";
            }
            a {
                color: var(--color-text);
            }
            .icon {
                margin-top: 15px;
                width: 15px;
                filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
            }
        }
        .title {
            margin-top: 30px;
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
            text-align: center;
        }
        .title::before {
            content: attr(data-en);
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            color: rgba(var(--color-primary-rgb), 0.4);
            font-size: 40px;
            font-style: italic;
        }
    }
}

/*=====================
    Body section
=====================*/
.content { 
    .body {
        max-width: 1200px;
        margin: 0 auto;
        dl {
            width: 90%;
            margin: 0 auto;
        }
        dt {
            float: left;
            font-size: 14px;
            border-right: 1px colid var(--color-text);
        }
        dd {
            margin-top: 10px;
            border-bottom: 1px solid var(--color-text-offset);
            padding-left: 40px;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .search_box {
            .tag {
                display: inline;
                margin: 5px;
                font-size: 13px;
                padding: 3px;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
                border-radius: 1.5em;
                a {
                    color: var(--color-text);
                }
                &.active {
                    background-color: var(--color-primary);
                }
            }    
        }
        .cards {
            margin-top: 30px;
        }
        .card {
            display: flex;
            background-color: var(--color-bg-offset);
            margin: 12px;
            @include media-breakpoint-up(tab) {
                margin: 12px;
            }
            @include media-breakpoint-up(pc) {
                margin: 15px;
            }
            .right {
                width: 100%;
            }
            .thumbnail {
                width: 28%;
            }
            .title {
                padding: 10px;
                overflow-wrap: breal-word;
                height: 28%;
                @include media-breakpoint-up(tab) {
                    height: 42%;
                }
                @include media-breakpoint-up(pc) {
                    height: 56%;
                }
            }
            .meta {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                height: 20%;
            }
            .tag {
                font-size: 12px;
                padding: 3px;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
                border-radius: 2em;
            }
            .tag:before {
                content: '#';
            }
            .date {
                font-size: 13px;
                padding: 4px;
            }
        }
        .pagenation {
            text-align: center;
            a {
                color: var(--color-text);
                font-size: 15px;
                margin: 10px;
            }
            .dots {
                color: var(--color-text);
                font-size: 15px;
                margin: 10px;
            }
            .page_number {
                &.active {
                    border-bottom: 2px solid var(--color-primary);
                }
            }
        }
    }
}

// .main {
//     .postlist {
//         width: 100%;
//         max-width: 41rem;
//         max-width: var(--content-max-width,41rem);
//         margin-left: auto;
//         margin-right: auto;
//         .item {
//             margin-bottom: 5rem;
//             .title {
//                 font-size: 2.25rem;
//             }
//             .meta {
//                 font-size: 1.125rem;
//                 margin-bottom: 1rem;
//                 color: var(--color-text-offset);
//                 .date {
//                     box-sizing: inherit;
//                 }
//                 .tags {
//                     // font-family: Georgia,Times,serif;
//                     text-transform: uppercase;
//                     font-size: .875em;
//                     letter-spacing: 3px;
//                 }
//             }
//         }
//     }
// }