{# https://demo.swell-theme.com/demo06/ #}
<header id="header">
    <div class="inner container-fluid">
        <div class="row">
            <div class="sp_menuBtn col-sp-2 pc-none">
                <div class="iconBtn menuBtn">
                    <i class="menu"></i>
                </div>
            </div>

            <div class="logo col-sp-8">

            </div>

            <nav class="gnav sp-none">
            </nav>



            <div class="sp_customBtn col-sp-2 pc-none">
                <div class="iconBtn searchBtn">
                    <i class="search"></i>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="inner container-fluid">
    <div class="row">
        <a class="header_left col-8" href="/">
            <div class="text">Daichi Sugiyama</div>
        </a>
        <div class="header_right col-4 d-flex justify-content-end" >
            <div class="inner">
                <div class="menu_button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</header>