<!DOCTYPE html>
<html lang='ja'>
<head>
{% block head %}{{ include('template/ui/head.twig') }}{% endblock %}
</head>
<body>
    <div class="loading"></div>
    <div class="menu">
    {{ include('template/ui/menu.twig') }}
    </div>
    <div class="page">
        <header class="header" role="banner">
        {{ include('template/ui/header.twig') }}
        </header>
        <main class="content" role="main">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer" role="contentinfo">
        {{ include('template/ui/footer.twig') }}
        </footer>
    </div>
</body>
</html>
